kind: Service
apiVersion: v1
metadata:
  name: django-backend-service
spec:
  selector:
    app: django-backend
  ports:
  - protocol: TCP
    port: 8000
    targetPort: 8000
    nodePort: 30080
  type: NodePort
